---
let aStyle = "w-fit block opacity-70 underline"
---

<footer class="p-7 bg-slate-100 pb-20">
  
  <h2 class="font-semibold text-lg mt-10">Fidi's</h2> 
  <nav>
    <a class={aStyle} href="/blog">home</a>
    <a class={aStyle} href="/en">Blog en</a>
    <a class={aStyle} href="/id">Blog id</a>
  </nav>
  
</footer>