<header class="px-7 py-5 flex justify-between sticky top-0 bg-slate-100">
  <h2 class="font-semibold">Fidi's</h2>
  
  <nav>
    <a href="/blog">Home</a>
    <a href="/en">Blog en</a>
    <a href="/id">Blog id</a>
  </nav>
  
  
</header>