
---
import "../styles/global.css"
import Header from "../layouts/components/Header.astro"
// src/pages/index.astro
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fidi</title>
</head>
<body>
  <Header></Header>
  <main>
    <section class="text-center p-7 py-16">
      <h2 class="text-3xl font-semibold">Blog pribadi Fidi's</h2>
      <p>blog disini berdasarkan sudut pandang penulis, wajar sekali jika ada ketidak sesuaian dengan pembaca</p>
      <a class="block py-2 px-5 rounded-lg bg-slate-200 shadow m-auto mt-10 w-fit" href="/blog">Liat Blog</a>
    </section>
  </main>
</body>
</html>