---
import "../styles/global.css";
const { data } = Astro.props;
---

<!doctype html>
<html lang={data.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content={data.summary} />
    <title>{data.title}</title>
  </head>
  <body class="bg-slate-50">
    <main class="container p-7">
      <time class="text-slate-500">
        {
          data.date.toLocaleString(data.lang, {
            year: "numeric",
            month: "long",
            weekday: "long",
            day: "numeric",
          })
        }
      </time>
      <h1 class="text-4xl my-3 font-semibold">{data.title}</h1>
      <article class="prose pt-2">
        <slot />
      </article>
    </main>
  </body>
</html>
