---
import "../styles/global.css";
import Header from "./components/Header.astro";
import Card from "./components/Card.astro";
import Footer from "./components/Footer.astro";
const { data } = Astro.props;
---

<!doctype html>
<html lang={data.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content={data.summary} />
    <title>{data.title}</title>
  </head>
  <body class="bg-slate-50">
    <!-- Header-->
    <Header />
    <!--main content-->
    <main class="container p-7">
      <!--judul-->
      <h1 class="text-4xl my-3 font-bold">{data.title}</h1>
      <!--date publis-->
      <time class="text-slate-500">
        {
          data.date.toLocaleString(data.lang, {
            year: "numeric",
            month: "long",
            weekday: "long",
            day: "numeric",
          })
        }
      </time>
      <!--visual banner-->
      {data.banner ? (
      <img
        class="rounded-lg shadow-lg my-5"
        src={"/assets/" + data?.banner}
        alt=""
      />
      ) : (
      <br>
      <br>
      )}
      
      <!--blog yang ditampilkan-->
      <article class="prose pt-2">
        <slot />
      </article>
    </main>
    <Card />
    <Footer />
  </body>
</html>
